<div id="sp-game" class="sp-game">
    <div class="sp-game-toppanel">
        <div class="sp-game-toppanel-left">
            <span class="sp-appicon"><i id="sp-app-info" class="glyphicon glyphicon-info-sign"></i></span>
        </div>
        <div class="sp-game-toppanel-right">
            <span class="sp-game-toppanel-title">Title</span>
            <span class="sp-game-toppanel-desc">Desc</span>
        </div>
    </div>
    <div class="sp-game-sidepanel">
        <div class="sp-game-sidepanel-top">
            <button id="sidecontrol-reveal" data-action="reveal" class="btn btn-success">Reveal Points</button>
            <button id="sidecontrol-reset" data-action="reset" class="btn btn-danger">Reset/Repoint</button>
            <button id="sidecontrol-next" data-action="next" class="btn btn-primary">Next Round</button>
        </div>
        <div class="sp-game-sidepanel-endround">
            <span id="endround-head"></span>
            <span id="endround-cardval"></span>
            <span id="endround-detail"></span>
            <span id="endround-avg"></span>
        </div>
        <div class="sp-game-sidepanel-events"></div>
        <div class="sp-game-sidepanel-chat">
            <div class="input-group">
                <input id="sidecontrol-chatinput" type="text" class="form-control" placeholder="Chat Msg">
                <span class="input-group-btn">
                    <button id="sidecontrol-chatbtn" class="btn btn-primary" type="button">Send</button>
                </span>
            </div>
        </div>

    </div>
    <div class="sp-game-tabletop"></div>
    <div class="sp-game-cards">

    </div>
</div>
<div id="sp-modal-joingame" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Join Game</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon">Name</span>
                    <input type="text" id="sp-modal-joingame-name" class="form-control" maxlength="18" placeholder="Username" aria-describedby="basic-addon">
                </div>
                <div class="input-group sp-modal-toggle">
                    <input id="observer-checkbox" type="checkbox" data-toggle="toggle" data-width="64" data-onstyle="success">
                    <span class="sp-modal-toggle-head">Observer Mode</span>
                    <span class="sp-modal-toggle-desc">You will NOT participate in pointing but can observe the session.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="sp-modal-joingame-btn" class="btn btn-primary">Join</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="sp-modal-appinfo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Super Poker</h4>
            </div>
            <div class="modal-body">
                <div class="sp-modal-appinfo-text" id="sp-modal-appinfo-text">Version: 0.1.1 - Michael Meyers</div>
                <a class="sp-modal-github" target="_blank" href="https://github.com/meyersm/superpoker"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->