<div class="sp-newgame">
    <div class="sp-newgame-form">
        <label for="newgame-title">Start a new Planning session</label>
        <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" id="newgame-title" aria-describedby="basic-addon3">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Description</span>
            <input type="text" class="form-control" id="newgame-desc" aria-describedby="basic-addon3">
        </div>
        <button class="btn btn-primary pull-right" id="newgame-create">Create</button>
    </div>
</div>